.bioindicador {
  display: flex !important;
  gap: 4rem;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 27.5rem;
  background-color: var(--claro) !important;
  border: none !important;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0;

  .card {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 1rem;

    figure {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-height: 20rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    h2 {
      font-size: 2rem;
    }

    .list-group-item {
      font-size: 1.6rem;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    box-shadow: none;

    h2 {
      background-color: var(--azul);
      color: var(--claro);
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
      padding: 1rem;
    }

    span {
      padding: 1rem;
      background-color: grey;
      border-radius: 1rem;
      color: var(--claro);
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    p {
      background-color: var(--azul);
      color: var(--claro);
      font-size: 1.6rem;
      text-align: center;
      max-width: 50rem;

      padding: 3rem;
    }
  }

  article:nth-child(2) {
    flex-direction: row;

    div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }
  }
}

.modal {
  .modal-header {
    padding: 2rem;
    .modal-title {
      font-size: 2rem;
    }

    .btn-close {
      margin-right: 1rem;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;

    #hexagono {
      position: relative;
      width: 45vw;
      max-width: 30rem;
      height: 45vw;
      max-height: 30rem;
      background-size: cover;
      background-position: center;
      clip-path: polygon(25% 8%, 75% 8%, 100% 50%, 75% 92%, 25% 92%, 0% 50%);
      overflow-x: initial;
      margin: 0;

      img {
        width: 100%;
      }
    }

    span {
      text-align: center;
      font-size: 1.6rem;
      color: var(--claro);
      background-color: var(--azul);
      border-radius: 5rem;
      padding: 1rem;
      margin: 1rem;
      margin-bottom: 3rem;
    }

    p {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      max-width: 10rem;
      font-size: 1.6rem;
    }
  }
}
