.news {
  overflow: hidden;
  margin: 0;

  .carousel-inner {
    display: flex;
    align-items: stretch;
  }

  .carousel-inner a {
    min-height: 19rem;
    max-height: calc(60vw - 8rem);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
    background-color: rgba(19, 18, 18, 0.623);
    margin-bottom: -1.3rem;

    h3 {
      color: var(--claro);
      font-size: 1.6rem;
      padding: 0 4rem;
      margin-bottom: 0rem;
    }

    p {
      display: none;
      font-size: 1.6rem;
      color: var(--claro);
      margin-bottom: 2rem;
      padding: 2rem 4rem;
      padding-bottom: 4rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  a:active,
  a:focus {
    border: none;
    box-shadow: none;
  }
}

@media (min-width: 800px) {
  .news .carousel-caption p {
    display: block;
  }
}

@media (min-width: 1088px) {
  .news {
    .carousel-inner a {
      max-height: 55rem;
    }

    .carousel-caption {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        margin-bottom: 4rem;
      }
    }
  }
}
